@import '../../../../../foundation/variables';
@import '../../../../../foundation/mixins';

.p-selling_info-complete {
    background-color: $c-bg-main;

    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
        }
        .p-complete-block {
            padding: $m-ml $m-s;
            background-color: $c-bg-main-sub;
            @include for-desktop {
                p {
                    max-width: 890px;
                    margin: 0 auto;
                }
            }
        }
        .c-mypage-btn-block {
            padding-top: 0;
            &__inner {
                @include for-desktop {
                    max-width: 890px;
                    margin: 0 auto;
                }
            }
        }
    }
    & + .l-footer {
        @include for-desktop {
            background-color: $c-bg-main-sub;
        }
    }
}