@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-show_room_notification-detail {
    background-color: $c-bg-main-sub;
    
    &-section {
        padding-top: $m-m;
        .c-form {
            padding-top: 0;
            background-color: $c-bg-main-sub;
            .l-grid {
                gap: $m-ss;
                label {
                    margin-top: 0;
                }
            }
            label {
                margin-top: $m-ss;
            }
        }
        .c-info {
            padding-bottom: 0;
            @include for-desktop {
                max-width: 1012px;
                margin: 0 auto;
            }
        }
        .c-exhibition-hall {
            padding: $m-ml $m-s;
            background-color: transparent;
            @include for-desktop {
                max-width: 1012px;
                margin: 0 auto;
            }
            &-contact__contact {
                justify-content: center;
            }
        }
        .c-contents {
            padding: 0 $m-s;
        }
    }
    &-block {
        padding-bottom: 80px;
        background-color: $c-bg-main-sub;
        .p-tab-wrap {
            padding: $m-m $m-s $m-s;
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}