.p-terms_of_service {
  background-color: #F0F0F0;
}

.p-terms_of_service .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-terms_of_service-section {
  padding-bottom: 80px;
}

.p-terms_of_service-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-terms_of_service-section .c-form {
  margin-top: 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.p-terms_of_service-section .c-form__list[data-col="2"] {
  gap: 8px;
  flex-wrap: wrap;
}

.p-terms_of_service-section .c-form__list[data-col="2"] li {
  width: calc(50% - 4px);
}

.p-terms_of_service-section .c-form__list[data-type="kubun"] li {
  padding: 8px;
}

.p-terms_of_service-section .c-form__list[data-type="kubun"] li label {
  margin-top: 0;
}

.p-terms_of_service-section .c-form__list[data-type="kubun"] li.is-active {
  background-color: #ECF6ED;
}

.p-terms_of_service-block {
  padding: 40px 16px;
}

@media (min-width: 769px) {
  .p-terms_of_service-block {
    max-width: 1044px;
    margin: 0 auto;
  }
}

.p-terms_of_service + .l-footer {
  background-color: #F0F0F0;
}
