.p-terms_of_service {
  background-color: #F0F0F0;
}

.p-terms_of_service .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-terms_of_service-section {
  padding-bottom: 80px;
}

.p-terms_of_service-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-terms_of_service-block {
  background-color: #F0F0F0;
}

.p-terms_of_service-block .c-contents {
  padding: 40px 16px;
}

.p-terms_of_service .p-terms_of_service-list {
  padding: 40px 16px;
  background-color: #FFFFFF;
}

.p-terms_of_service .p-terms_of_service-list .c-contents {
  margin-bottom: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DDDDDD;
}

.p-terms_of_service .p-terms_of_service-list .c-contents > * {
  margin-bottom: 8px;
}

.p-terms_of_service .p-terms_of_service-list .c-contents > *:last-child {
  margin-bottom: 0 !important;
}

.p-terms_of_service .p-terms_of_service-list .c-ul-list,
.p-terms_of_service .p-terms_of_service-list .c-ol-list,
.p-terms_of_service .p-terms_of_service-list .c-dl-list {
  font-size: 14px;
}

.p-terms_of_service .p-terms_of_service-list .c-dl-list dd {
  font-size: 12px;
}

.p-terms_of_service .p-terms_of_service-list .c-ol-list-block {
  text-indent: 0;
}

.p-terms_of_service .p-terms_of_service-list .c-ol-list-box {
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #F0F0F0;
}

.p-terms_of_service + .l-footer {
  background-color: #F0F0F0;
}
