.p-customer {
  background-color: #F0F0F0;
}

.p-customer .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-customer-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-customer-form {
  padding: 40px 16px 0;
}

.p-customer-form .u-h-lv3 {
  margin-bottom: 24px;
}

.p-customer-form .c-form {
  padding: 24px 0;
  background-color: #FFFFFF;
}

.p-customer-form .c-form__list[data-col="2"] {
  gap: 8px;
}

.p-customer-form .c-form__list[data-type="kubun"] li {
  padding: 8px;
}

.p-customer-form .c-form__list[data-type="kubun"] li.is-active {
  background-color: #ECF6ED;
}

.p-customer-form .c-form .u-f-notes {
  margin-top: 4px;
  color: #8E8E8E;
}

.p-customer-form .c-form .u-f-alert {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #DDDDDD;
}

@media (min-width: 769px) {
  .p-customer-form {
    margin-top: 56px;
    background-color: #FFFFFF;
    border-radius: 4px;
  }
}

.p-customer-btn {
  padding-top: 40px;
  background-color: #F0F0F0;
}

@media (min-width: 769px) {
  .p-customer .c-mypage-btn-block {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-customer + .l-footer {
  background-color: #F0F0F0;
}
