.c-more-block {
    position: relative;
    overflow: hidden;
    padding: 16px;
    &.is-open {
        .c-more-block__contents {
            opacity: 1;
        }
        .c-more-block__btn{
            span {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 10px;
                    height: 1px;
                    background-color: #2C933A;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
    &__btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0 12px;
        color: $c-text;
        font-size: $fs-t-ss;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            margin-left: 4px;
            background-color: $c-bg-main;
            border: 1px solid $c-border;
            border-radius: 12px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}
.c-alert-block {
    background-color: #FFF6F6;
    border: 1px solid $c-border-alert;
    border-radius: 4px;
    &__ttl {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 700;
    }
    &__txt {
        & + .c-alert-block__txt {
            margin-top: 20px;
        }
    }
    //TOP
    .c-more-block {
        height: 81px;
    }
}
.c-info-block {

    //TOP
    .c-more-block {
        background-color: $c-bg-main;
        border: 1px solid $c-border;
        border-radius: 4px;
        height: 112px;
        // padding-bottom: 0;
    }
    &__head {
        display: flex;
        margin-bottom: $m-ss;
    }
    &__date {
        padding-top: 5px;
        margin-right: 5px;
        color: $c-text-g;
        font-size: $fs-t-ss;
    }
    .u-f-bold.u-fs-14 {
        color: $c-text;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 48px;
    }
    &__item {
        display: block;
        & + .c-info-block__item {
            margin-top: $m-s;
            padding-top: $m-s;
            border-top: 1px solid $c-border;
        }
    }


}
.c-card-block {
    padding: $m-m $m-s $m-ml;
    background-color: $c-bg-main;
    &__btn {
        @include for-desktop {
            display: flex;
            justify-content: center;
            gap: 60px;
            width: 622px;
            margin: 70px auto 0;
            .c-btn {
                width: 279px;
            }
            .u-mt-20,
            .u-mt-40 {
                margin-top: 0;
            }
        }
    }
}
.c-mypage-block {
    padding: $m-ml $m-s;
    background-color: $c-bg-main-sub;
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $m-s;
    }
    &__name {
        color: $c-text;
        font-size: $fs-t;
        font-weight: 700;
        span {
            font-size: $fs-t-ss;
        }
    }
    &__edit {
        margin-top: $m-s;
        a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $c-text;
            font-size: $fs-t-ss;
            font-weight: bold;
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            margin-left: $m-sss;
            background-color: $c-bg-main;
            border-radius: 12px;
            border: 1px solid $c-border;
            img {
                width: 12px;
            }
        }
    }
    &__body {
        .l-grid {
            gap : $m-ss;
            &[data-col="2"] {
               a {
                    display: flex;
                    gap: $m-ss;
                    padding: 17px 16px 11px;
                    color: $c-text-w;
                    font-size: $fs-h-lv4;
                    font-weight: 700;
                    background-color: $c-bg-primary;
                    border-radius: $b-r-s;
                    span {
                        display: block;
                        font-size: $fs-t;
                    }
                    img {
                        margin-bottom: $m-sss;
                    }
                    @include for-desktop {
                        display: block;
                        text-align: center;
                        img {
                            margin: 0 auto
                        };
                    }
                }
            }
            &[data-col="3"] {
                margin-top: $m-ss;
                a {
                    padding: $m-ss 0;
                    font-size: $fs-t-ss;
                    font-weight: 700;
                    text-align: center;
                    background-color: $c-bg-main;
                    border-radius: $b-r-s;
                    border: 1px solid $c-border-primary;
                    .u-ico {
                        width: 24px;
                        margin-bottom: $m-sss;
                    }
                }
                p {
                    br {
                        display: none;
                        @include for-desktop {
                            display: block;
                        }
                    }
                    @include for-desktop {
                        text-align: center;
                    }
                }
            }
        }
        .c-tab-list {
            margin-top: 24px;
        }
    }
}
.c-keep-block {
    & + .c-keep-block {
        margin-top: $m-m;
    }
    &__contents {
        margin-bottom: 20px;
        padding: $m-m $m-s $m-ml;
        background-color: $c-bg-main-sub;
        border: 1px solid $c-border;
        border-radius: $b-r-s;
    }
    &__list {
        color: $c-text;
        dt {
            margin-bottom: $m-sss;
            font-size: $fs-t-s;
            font-weight: 700;
        }
        dd {
            margin-bottom: $m-ss;
            padding-bottom: $m-ss;
            font-size: $fs-t-s;
            border-bottom: 1px solid $c-border;
        }
    }
    &__more {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0 12px;
        color: $c-text;
        font-size: $fs-t-ss;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            margin-right: 4px;
            background-color: $c-bg-main;
            border: 1px solid $c-border;
            border-radius: 12px;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    .c-form {
        padding-bottom: $m-ml !important;
        &__list {
            gap: 8px !important;
            li {
                width: calc(50% - 10px) !important;
            }
        }
        .c-detail-search__block {
            padding-left: $m-ss;
            padding-right: $m-ss;
        }
        .c-btn {
            margin-top: 0;
        }
    }
    .c-btn {
        margin-top: $m-m;
    }
    .c-more-block {
        height: 41px;
        margin-top: $m-m;
        padding: 0;
        &.is-open {
            overflow: visible;
        }
        &__contents {
            opacity: 0;
        }
        &__btn {
            span {
                margin: 0 $m-ss 0 0;
            }
            background: transparent;
        }
    }
}

.c-mail-setting {
    padding: $m-sl $m-s;
    background-color: $c-bg-main-sub;
    border: 1px solid $c-border;
    border-radius: $b-r-s;
    .u-h-lv4 {
        margin-bottom: $m-s;
    }
    &__list {
        margin-bottom: $m-s;
        border-top: 1px solid $c-border;
       li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $m-s 0;
            border-bottom: 1px solid $c-border;
        } 
    }
    &__count {
        margin-bottom: $m-s;
        color: $c-text-g;
        font-size: $fs-t-s;
        text-align: center;
        & > span {
            margin-left: $m-ss;
            color: $c-text;
            font-size: $fs-t-s;
            font-weight: 500;
            span {
                font-size: $fs-h-lv4;
                font-weight: 700;
            }
        }
    }
}
.c-mypage-btn-block {
    background-color: $c-bg-main-sub;
    padding: $m-ml $m-s $m-xl;
    &__inner {
        padding: $m-m $m-ss;
        background-color: $c-bg-main;
        border-radius: $b-r-s;
        .u-h-lv4 {
            margin-bottom: $m-sl;
        }
        .c-btn {
            & + .c-btn {
                margin-top: $m-sl;
            }
        }
    }
}
.c-exhibition-block {
    padding: $m-s;
    background-color: $c-bg-main;
    border-radius: $b-r-s;
    border: 1px solid $c-border;
    & + .c-exhibition-block {
        margin-top: $m-s;
    }
    &__ttl {
        font-size: $fs-t;
        font-weight: bold;
    }
    &__sub-ttl {
        margin-bottom: $m-sss;
        font-size: $fs-t-s;
        font-weight: bold;
    }
    &__txt {
        font-size: $fs-t-s;
    }
    li {
        margin-bottom: $m-s;
        padding-bottom: $m-sl;
        border-bottom: 1px solid $c-border;
    }
}
.c-search-result-block {
    padding-top: $m-l;
    background-color: $c-bg-main-sub;
    
    &__num {
        margin-bottom: $m-s;
        text-align: center;
        font-size: $fs-h-lv2;
        font-weight: 700;
    }
    &__menu {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 8px;
        padding: 0 0 $m-sl;
        @include for-desktop {
            padding: 0 $m-ml $m-sl;
        }
        &-select {
            display: flex;
            width: 274px;
            gap: $m-ss;
            @include for-desktop {
                width: 430px;
            }
        }
        &-btn {
            display: flex;
            gap: $m-ss;
        }
        &-num {
            width: 94px;
            @include for-desktop {
                width: 211px;
            }
        }
        &-sort {
            width: 145px;
            @include for-desktop {
                width: 211px;
            }
        }
        div {
            p {
                margin-bottom: $m-ss;
            }
        }
    }
    &__grid-btn {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        background-color: $c-bg-main;
        border-radius: $b-r-s;
        border: 1px solid $c-border;
        &::before,
        &::after,
        span::before,
        span::after {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background: #A0A0A0;
        }
        &::before {
            top: 7px;
            left: 7px;
        }
        &::after {
            top: 7px;
            right: 7px;
        }
        span::before {
            bottom: 7px;
            left: 7px;
        }
        span::after {
            bottom: 7px;
            right: 7px;
        }
        &.is-active {
            background-color: $c-bg-primary;
            &::before,
            &::after,
            span::before,
            span::after {
                background: $c-bg-main;
            }
        }
    }
    &__list-btn {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        background-color: $c-bg-main;
        border-radius: $b-r-s;
        border: 1px solid $c-border;
        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 7px;
            left: 13px;
            width: 2px;
            height: 26px;
            background-color: $c-bg-main;
        }
        span {
            position: absolute;
            top: 7px;
            left: 6px;
            width: 26px;
            height: 6px;
            background-color: #A0A0A0;
            &:nth-child(2) {
                top: 17px;
            }
            &:nth-child(3) {
                top: 27px;
            }
        }
        &.is-active {
            background-color: $c-bg-primary;
            &::before {
                background-color: $c-bg-primary;
            }
            span {
                background-color: $c-bg-main;
            }
        }
    }
    &__display {
        display: none;
        &.is-active {
            display: block;
        }
    }

    .l-grid {
        gap: $m-m $m-s;
    }
    @include for-desktop {
        max-width: 980px;
        margin: 0 auto;
        .c-table {
            margin: 0;
        }
    }
}
.c-detail-block {
    padding: $m-m $m-s;
    background-color: $c-bg-main;
    border-radius: $b-r-s;
    &__ttl {
        margin-bottom: $m-sss;
        font-weight: 700;
    }
    li + li {
        margin-top: $m-s;
        padding-top: $m-s;
        border-top: 1px solid $c-border;
    }
    &[data-type="border"]{
        ul {
            margin-bottom: $m-s;
            padding-bottom: $m-s;
            border-bottom: 1px solid $c-border;
        }
    }
 }
.c-exhibition-hall {
    padding: $m-l $m-s;
    background-color: $c-bg-main;
    .u-h-lv4 {
        margin-bottom: $m-s;
    }
    &-contact {
        background-color: $c-bg-main;
        border: 1px solid $c-border;
        border-radius: $b-r-s;
        &__ttl {
            padding: $m-s $m-s $m-ss;
            font-size: $fs-t;
            font-weight: 700;
            border-bottom: 1px solid $c-border;
        }
        &__info {
            padding: $m-s;
            font-size: $fs-t-s;
        }
        &__contact {
            @include for-desktop {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            p {
                margin-bottom: $m-ss;
                font-weight: 700;
                @include for-desktop {
                    margin-bottom: 0;
                }
            }
            .l-grid {
                gap: 9px;
                @include for-desktop {
                    display: flex;
                    .c-btn {
                        width: 151px;
                    }
                }
            }
            padding: $m-s $m-s $m-sl;
            background-color: $c-bg-tertiary;
        }
    }
}
.c-info {
    position: relative;
    padding:  0 $m-s $m-ml;
    background-color: $c-bg-main-sub;
    .u-h-lv4 {
        margin-bottom: $m-s;
    }
    &__box {
        padding: $m-s;
        font-size: $fs-t-s;
        font-weight: 700;
        background-color: $c-bg-main;
        border: 1px solid $c-border;
        border-radius: $b-r-s;
    }
    &__no-message {
        color: $c-text-g;
    }
    &__item {
        display: grid;
        grid-template-columns: 80px 1fr;
        gap: $m-s;
        & + .c-info__item {
            margin-top: $m-s;
            padding-top: $m-s;
            border-top: 1px solid $c-border;
        }
    }
    &__img {
        img {
            // border-radius: $b-r-s;
            border: 1px solid $c-border;
        }
    }
    &__date {
        margin-bottom: $m-ss;
        color: $c-text-g;
        font-size: $fs-t-ss;
    }
    .c-tag-list {
        margin-bottom: $m-ss;
    }
    .c-tag {
        min-width: 76px;
        padding: 0 $m-ss;
        text-align: center;
        line-height: 19px;
    }
    &__shop {
        margin-bottom: $m-sss;
        color: $c-text-g;
        font-size: $fs-t-ss;
        font-weight: bold;
    }
    &__ttl {
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: $c-text;
        font-size: $fs-t-s;
        font-weight: bold; 
    }
    &[data-type="detail"]{
        .c-info {
            &__head {
                display: flex;
                gap: $m-sss;
                margin-bottom: $m-ss;
            }
            &__ttl {
                margin-bottom: $m-ss;
            }
            &__contents {
                padding: $m-s;
                background-color: $c-bg-main;
                border: 1px solid $c-border;
                border-radius: $b-r-s;
            }
            &__txt {
                margin-top: $m-s;
                p {
                    margin-top: $m-ss;
                    font-size: $fs-t-s;
                    .u-f-bold {
                        margin-top: $m-s;
                    }
                }
            }
        }
    }
    &-grid {
        @include for-desktop {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 40px;
        }
    }
}


.c-ez-search {
    padding: $m-ml $m-s;
    background-color: $c-bg-main;
    .u-h-lv2 {
        margin-bottom: $m-sl;
        .u-ico {
            margin: 0 auto;
        }
    }
    .c-form {
        background-color: $c-bg-main;
    }
    @include for-desktop {
        padding: $m-ll $m-s;
        .u-h-lv2 {
           display: flex;
           align-items: start;
           white-space: nowrap;
           .u-ico {
                width: 40px;
                margin: 10px 20px 0 0;
            }
        }
        .c-contents {
            position: relative;
            display: flex;
            gap: 6.1%;
            .c-form {
                width: 65.3%;
            }
        }
        .c-form {
            padding: $m-ml;
            label {
                display: flex;
            }
            &__ttl {
                margin-right: $m-sl;
                white-space: nowrap;
            }
            &__budget,
            &__select {
                width: 85%;
            }
            &__budget {
                justify-content: space-between;
            }
            &__submit {
                position: absolute;
                top: 60px;
                left: 0;
                width: 276px;
            }   
        }
    }
}