.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    color: $c-text-link;
    font-size: $fs-t;
    font-weight: 700;
    background-color: $c-bg-main;
    border: 1px solid $c-border-primary;
    border-radius: 24px;
    &-sticky {
        position: sticky;
        bottom: 80px;
        left: 0;
        z-index: 10;
    }
    &--reset {
        @extend .c-btn;
        color: $c-text-w;
        background-color: #A0A0A0;
        border-color: #A0A0A0;
    }
    .u-ico {
        margin-right: 4px;
    }
    &[data-type="solid"]{
        color: $c-text-w;
        background-color: $c-bg-primary;
    }
    &[data-type="solid-icon"]{
        padding: 0 $m-s;
        justify-content: space-between;
        color: $c-text-w;
        background-color: $c-bg-primary;
    }
    &[data-type="line"]{
        padding: 0 $m-s;
        justify-content: space-between;
        color: $c-text-w;
        background-color: $c-line;
        border-color: $c-line;
    }
    &[data-type="solid-icon-right"]{
        position: relative;
        padding: 0 $m-s;
        color: $c-text-w;
        background-color: $c-bg-primary;
        .u-ico {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }
    &[data-type="solid-icon-left"]{
        position: relative;
        padding: 0 $m-s;
        color: $c-text-w;
        background-color: $c-bg-primary;
        .u-ico {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }
    &[data-type="icon-right"]{
        position: relative;
        .u-ico {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }
    &[data-type="icon-left"]{
        position: relative;
        .u-ico {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }
    }
    &[data-type="delete"]{
        position: relative;
        color: $c-text-alert;
        border-color: $c-border-alert;
        .u-ico {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }
    &[data-size="l"]{
        max-width: 276px;
        height: 56px;
        border-radius: 28px;
    }
    &[data-size="s"]{
        max-width: 151px;
        height: 37px;
        font-size: $fs-t-s;
        border-radius: 20px;
    }
}
.c-fixed-btn {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 92px;
}