.c-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: $c-text-link;
    font-size: $fs-t;
    font-weight: 700;
    border: 1px solid $c-border-primary;
    border-radius: 24px;
    .u-ico {
        margin-right: 4px;
    }
    &[data-type="solid"]{
        color: $c-text-w;
        background-color: $c-bg-primary;
    }
    &[data-type="solid-icon"]{
        padding: 0 $m-s;
        justify-content: space-between;
        color: $c-text-w;
        background-color: $c-bg-primary;
    }
    &[data-size="l"]{
        min-width: 276px;
        height: 56px;
        border-radius: 28px;
    }
}