.c-detail-search {
    padding-top: $m-s;
    background-color: $c-bg-main-sub;
    & > .u-h-lv2 {
        margin-bottom: $m-sl;
    }
    .c-form {
        padding: 0;
        background-color: $c-bg-main-sub;
        label {
           margin-top: 0; 
        }
        &__list {
            flex-wrap: wrap;
            gap: $m-ss;
            margin: 0 -5px;
            li {
                width: calc(50% - 10px);
            }
        }
    }
    &__ttl {
        height: 50px;
        padding: 0 $m-s;
        color: $c-text-w;
        font-size: $fs-t;
        line-height: 50px;
        background-color: $c-bg-primary;
    }
    &__block {
        padding: $m-s $m-s $m-ml;
        &[data-type="checkBox"] {
            padding-top: 0;
        }
    }
    &__img-map{
        padding: 22px;
        background-color: $c-bg-main;
        border-radius: $b-r-s;
        img {
            width: 300px;
            margin: 0 auto;
        }
    }


}
