.c-detail-search {
    padding-top: $m-s;
    background-color: $c-bg-main-sub;
    & > .u-h-lv2 {
        margin-bottom: $m-sl;
    }
    .c-form {
        padding: 0;
        background-color: $c-bg-main-sub;
        label {
           margin-top: 0; 
        }
        &__list {
            flex-wrap: wrap;
            gap: $m-ss;
            margin: 0 -5px;
            li {
                width: calc(50% - 10px);
                @include for-desktop {
                    width: calc(25% - 10px);
                }
            }
        }
    }
    &__ttl {
        height: 50px;
        padding: 0 $m-s;
        color: $c-text-w;
        font-size: $fs-t;
        line-height: 50px;
        background-color: $c-bg-primary;
    }
    &__block {
        padding: $m-s $m-s $m-ml;
        &[data-type="checkBox"] {
            padding-top: 0;
        }
    }
    &__img-map{
        position: relative;
        z-index: 3;
        padding: 22px;
        background-color: $c-bg-main;
        border-radius: $b-r-s;
        .c-map {
            position: relative;
            width: 300px;
            margin: 0 auto;
        }
        .c-clickable-map {
            position: relative;
            z-index: 3;
        }
        .c-active-map {
            position: absolute;
            z-index: 2;
            width: 300px;
            top: 0;
            left: 0;
            &__area {
                position: absolute;
                z-index: 2;
                width: 300px;
                top: 0;
                left: 0;
                img {
                    position: absolute;
                    z-index: 1;
                    width: 300px;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    &.is-hover,
                    &.is-active {
                        opacity: 1;
                    }
                }
            }
        }
        .c-active-map__bg {
            position: absolute;
            z-index: 1;
            width: 300px;
            top: 0;
            left: 0;
        }
    }


}
