.c-ol-list {
   list-style: none;
   li {
    margin-bottom: $m-ss;
    padding-left: 1em;
    text-indent: -1em;;
}
}
.c-ul-list {
    li {
        &::before {
            content:'';
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 10px;
            background-color: $c-bg-primary;
            border-radius: 50%;
        }
        margin-bottom: $m-ss;
        padding-left: 1em;
        text-indent: -1em;
    }
}
.c-dl-list {
    display: flex;
    dt {
        font-weight: bold;
        white-space: nowrap;
    }
}
.c-anc-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $m-ss;
    li {
        width: calc(33.3% - 6px);
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 58px;
        background-color: $c-bg-main;
        border: 1px solid $c-border-primary;
        border-radius: 29px;
        span {
            font-size: $fs-t-ss;
        }
    }
}


