.c-tab {
    .js-tab-contents {
        display: none;
        &.is-current {
            display: block;
        }
    }
}
.c-tab-list {
    position: relative;
    display: flex;
    margin-bottom: 12px;
    border: 1px solid $c-border;
    border-radius: 16px;
    background-color: $c-bg-main;
    &[data-col="2"] {
        li,
        &::before {
            width: 50%;
        }
        &[data-current="0"] {
            &::after {
                left: 22%;
            }
        }
        &[data-current="1"] {
            &::before {
                left: 50%;
            }
            &::after {
                left: 73%;
            }
        }
    }
    &[data-col="3"] {
        li,
        &::before {
            width: 33.3%;
        }
        &[data-current="0"] {
            &::after {
                left: 14.4%;
            }
        }
        &[data-current="1"] {
            &::before {
                left: 33.3%;
            }
            &::after {
                left: 48%;
            }
        }
        &[data-current="2"] {
            &::before {
                left: 67%;
            }
            &::after {
                left: 81%;
            }
        }
    }
    li {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 32px;
        background-color: $c-bg-primary;
        border-radius: 16px;
        transition: all 0.5s;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: $c-bg-primary;
        border-radius: 2px;
        transform: rotate(45deg) skew(10deg, 10deg);
        transition: all 0.5s;
    }
    a {
        display: block;
        height: 32px;
        line-height: 32px;
        color: $c-text-g;
        font-size: $fs-t-ss;
        text-align: center;
        &.is-current {
            color: $c-text-w;
        }
    }
}