<footer class="l-footer">
    <div class="logo">
        <a href="/">
            <img src="/assets/images/common/logo_w.svg" alt="中古農機情報サイト アルーダ">
        </a>
    </div>
    <ul>
        <li><a href="">ご利用案内</a></li>
        <li><a href="">お問い合わせ</a></li>
        <li><a href="">よくあるご質問</a></li>
        <li><a href="">利用規約</a></li>
        <li><a href="">プライバシーポリシー</a></li>
    </ul>
    <div class="copyright">
        <p>Copyright&copy;ARUDA,All Rights Reserved.</p>
    </div>
</footer>