.u-t-center {
    text-align: center;
}
.u-t-left {
    text-align: left;
}
.u-t-right {
    text-align: right;
}
.u-m-center {
    margin: 0 auto;
}
.u-mt-16 {
    margin-top: $m-s;
}
.u-mt-20 {
    margin-top: 20px;
}
.u-mt-24 {
    margin-top: $m-sl;
}
.u-mt-32 {
    margin-top: $m-m !important;
}
.u-mt-40 {
    margin-top: $m-ml;
}

.u-mb-8 {
    margin-bottom: $m-ss;
}
.u-mb-16 {
    margin-bottom: $m-s;
}
.u-mb-24 {
    margin-bottom: $m-sl;
}

.u-pb-80 {
    padding-bottom: 80px !important;
}

// $m-ll:56px;
// $m-l:48px;
// $m-ml:40px;
// $m-m:32px;
// $m-sl:24px;
// $m-s:16px;
// $m-ss:8px;
// $m-sss:4px;