.u-h-lv2 {
    font-size: $fs-h-lv2;
    line-height: 42px;
    font-weight: 700;
}
.u-h-lv3 {
    font-size: $fs-h-lv3;
    line-height: 36px;
    font-weight: 700;
}
.u-h-lv4 {
    font-size: $fs-h-lv4;
    line-height: 30px;
    font-weight: 700;
}

.u-fs-16 {
    font-size: $fs-t;
    line-height: 28.8px;
}
.u-fs-14 {
    font-size: $fs-t-s;
    line-height: 25.2px;
}
.u-fs-12 {
    font-size: $fs-t-ss;
    line-height: 21.6px;
}
.u-f-bold {
    font-weight: 700;
}
.u-f-notes {
    padding-left: 1em;
    text-indent: -1em;
    font-size: $fs-t-ss;
}
.u-link {
    color: $c-text-link;
    text-decoration: underline;
}
.u-f-required {
    color: $c-text-alert;
}
.u-f-alert {
    color: $c-text-alert;
    font-size: $fs-t-ss;
}
.u-error-message {
    margin-top: $m-sss;
    color: $c-text-alert;
    font-size: $fs-t-ss;
}

.c-txt-hr {
    overflow: hidden;
    position: relative;
    text-align: center;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 50%;
        height: 1px; 
        background-color: $c-border;
    }
    &::before {
        left: -34px;
    }
    &::after {
        right: -34px;
    }
}
.c-alert-txt {
    display: flex;
    align-items: center;
    color: $c-text-alert;
    font-size: $fs-t-ss;
    font-weight: 700;
    .u-ico {
        margin-right: $m-sss;
    }
}
.u-manufacturer,
.u-model-number {
    color: $c-text-g;
    font-size: $fs-t-ss;
}
.u-price {
    font-size: 13px;
    font-weight: bold;
    span {
       font-size: 10px;
       color: $c-text-g; 
    }
}