@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-mail_notification_settings {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        padding-bottom: $m-xl;
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
    }
    &-contents {
        padding: $m-ml $m-s;
        .u-h-lv3 {
            margin-bottom: $m-sl;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        .c-mail-setting + .c-mail-setting {
            margin-top: $m-sl;
        }
        background-color: $c-bg-main;

        .u-tag-block {
            margin-bottom: 25px;
            ul {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 16px;
                @include for-desktop {
                    display: flex;
                }
            }
            li {
                padding: 9px;
                font-size: 12px;
                background-color: $c-bg-tertiary;
            }
        }
        @include for-desktop {
            margin-top: $m-ll;
            border-radius: $b-r-s;
        }
    }
    .c-mypage-btn-block {
        @include for-desktop {
            padding-left: 0;
            padding-right: 0;;
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}