@import '../../../../foundation/variables';
.p-mail_notification_settings {
    background-color: $c-bg-main;

    &-section {
        padding-top: $m-s;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
    }
    &-contents {
        padding: $m-ml $m-s;
        .u-h-lv3 {
            margin-bottom: $m-sl;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        .c-mail-setting + .c-mail-setting {
            margin-top: $m-sl;
        }
    }
}