@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-machine-inquiry {
    position: relative;
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
        .c-form {
            margin: $m-l -16px 0;
            background-color: $c-bg-main;
            border-radius: $b-r-s;
            @include for-desktop {
                margin: $m-l 0 0;
            }

            &__list {
                &[data-col="2"] {
                    gap: $m-ss;
                }
                &[data-type="kubun"] {
                    li {
                        padding: $m-ss;
                        label {
                            margin-top: 0;
                        }
                        &.is-active {
                            background-color: $c-bg-tertiary;
                        }
                    }
                }
            }
        }
    }
    &-contents {
        padding: 20px $m-s 0;
        background-color: $c-bg-main-sub;
    }
    .c-exhibition-hall,
    .c-info {
        background-color: $c-bg-main-sub;
    }
    .c-info {
        padding-bottom: $m-xl;
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}