.p-search_condition {
  background-color: #FFFFFF;
}

.p-search_condition-section {
  padding-top: 16px;
}

.p-search_condition-section .u-h-lv2 {
  margin-bottom: 32px;
}

.p-search_condition-section .c-mypage-block {
  padding-bottom: 16px;
}

.p-search_condition-keep {
  padding: 40px 16px;
}

.p-search_condition-keep .u-h-lv3 {
  margin-bottom: 24px;
}
