.p-machine-inquiry {
  position: relative;
  background-color: #F0F0F0;
}

.p-machine-inquiry .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-machine-inquiry-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-machine-inquiry-section .c-form {
  margin: 48px -16px 0;
  background-color: #FFFFFF;
  border-radius: 4px;
}

@media (min-width: 769px) {
  .p-machine-inquiry-section .c-form {
    margin: 48px 0 0;
  }
}

.p-machine-inquiry-section .c-form__list[data-col="2"] {
  gap: 8px;
}

.p-machine-inquiry-section .c-form__list[data-type="kubun"] li {
  padding: 8px;
}

.p-machine-inquiry-section .c-form__list[data-type="kubun"] li label {
  margin-top: 0;
}

.p-machine-inquiry-section .c-form__list[data-type="kubun"] li.is-active {
  background-color: #F9F7EE;
}

.p-machine-inquiry-contents {
  padding: 20px 16px 0;
  background-color: #F0F0F0;
}

.p-machine-inquiry .c-exhibition-hall,
.p-machine-inquiry .c-info {
  background-color: #F0F0F0;
}

.p-machine-inquiry .c-info {
  padding-bottom: 80px;
}

.p-machine-inquiry + .l-footer {
  background-color: #F0F0F0;
}
