.p-confirm {
  background-color: #F0F0F0;
}

.p-confirm .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-confirm-section {
  padding-bottom: 40px;
}

.p-confirm-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-confirm-section .p-confirm-block {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-confirm-section .p-confirm-block .c-form {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

@media (min-width: 769px) {
  .p-confirm-section .p-confirm-block .c-form {
    max-width: 890px;
    margin: 0 auto;
  }
}

.p-confirm-section .c-mypage-btn-block {
  padding-top: 0;
}

@media (min-width: 769px) {
  .p-confirm-section .c-mypage-btn-block__inner {
    max-width: 890px;
    margin: 0 auto;
  }
}

.p-confirm + .l-footer {
  background-color: #F0F0F0;
}
