@import '../../../../foundation/variables';
.p-machine-comfirm {
    position: relative;
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
    }
    &-contents {
        padding: 20px $m-s $m-xl;
        background-color: $c-bg-main-sub;
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}