@import '../../../../foundation/variables';
.p-machine-comfirm {
    position: relative;
    background-color: $c-bg-main;
    &-section {
        padding-top: $m-sl;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
    }
    &-contents {
        padding: 20px $m-s $m-xl;
        background-color: $c-bg-main-sub;
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}