@import '../../foundation/variables';
@import '../../foundation/mixins';

.p-top {
    &-info {
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        margin-bottom: $m-ss;
        padding: $m-sl $m-s;
        @include for-desktop {
            padding: $m-l $m-s $m-ll;
        }
    }

    &-machinery {
        padding-top: $m-ml;
        .u-h-lv2 {
            margin-bottom: $m-sl;
            .u-ico {
                margin: 0 auto;
            }
        }
        .c-tab-list {
            width: calc(100% - 32px);
            margin: 0 auto 12px;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        @include for-desktop {
            .l-grid {
                gap: $m-m $m-ml;
                grid-template-columns: repeat(4,1fr);
                max-width: 890px;
                margin: 0 auto;
            }
        }
    }
    &-history {
        padding: $m-ml $m-s;
        background-color: $c-bg-main-sub;
        .u-h-lv2 {
            margin-bottom: $m-sl;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &__contents {
                opacity: 0;
            }
            &__btn {
                background: transparent;
            }
        }
        @include for-desktop {
            .l-grid {
                gap: $m-m $m-ml;
                grid-template-columns: repeat(4,1fr);
                max-width: 890px;
                margin: 0 auto;
            }
        }
    }
}