.p-top-info {
  margin-bottom: 8px;
  padding: 24px 16px;
}

.p-top-info .u-h-lv4 {
  margin-bottom: 16px;
}

@media (min-width: 769px) {
  .p-top-info {
    padding: 48px 16px 56px;
  }
}

.p-top-search {
  padding: 40px 16px;
  background-color: #FFFFFF;
}

.p-top-search .u-h-lv2 {
  margin-bottom: 24px;
}

.p-top-search .u-h-lv2 .u-ico {
  margin: 0 auto;
}

@media (min-width: 769px) {
  .p-top-search {
    padding: 56px 16px;
  }
  .p-top-search .u-h-lv2 {
    display: flex;
    align-items: start;
    white-space: nowrap;
  }
  .p-top-search .u-h-lv2 .u-ico {
    width: 40px;
    margin: 10px 20px 0 0;
  }
  .p-top-search .c-contents {
    position: relative;
    display: flex;
    gap: 6.1%;
  }
  .p-top-search .c-contents .c-form {
    width: 65.3%;
  }
  .p-top-search .c-form {
    padding: 40px;
  }
  .p-top-search .c-form label {
    display: flex;
  }
  .p-top-search .c-form__ttl {
    margin-right: 24px;
    white-space: nowrap;
  }
  .p-top-search .c-form__budget, .p-top-search .c-form__select {
    width: 85%;
  }
  .p-top-search .c-form__budget {
    justify-content: space-between;
  }
  .p-top-search .c-form__submit {
    position: absolute;
    top: 60px;
    left: 0;
    width: 276px;
  }
}

.p-top-machinery {
  padding-top: 40px;
}

.p-top-machinery .u-h-lv2 {
  margin-bottom: 24px;
}

.p-top-machinery .u-h-lv2 .u-ico {
  margin: 0 auto;
}

.p-top-machinery .c-tab-list {
  width: calc(100% - 32px);
  margin: 0 auto 12px;
}

.p-top-machinery .l-grid {
  gap: 32px 8px;
}

@media (min-width: 769px) {
  .p-top-machinery .l-grid {
    gap: 32px 40px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 890px;
    margin: 0 auto;
  }
}

.p-top-history {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-top-history .u-h-lv2 {
  margin-bottom: 24px;
}

.p-top-history .l-grid {
  gap: 32px 8px;
}

.p-top-history .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-top-history .c-more-block__contents {
  opacity: 0;
}

.p-top-history .c-more-block__btn {
  background: transparent;
}

@media (min-width: 769px) {
  .p-top-history .l-grid {
    gap: 32px 40px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 890px;
    margin: 0 auto;
  }
}
