@media (min-width: 769px) {
  .p-top {
    background-color: #FFFFFF;
  }
}

.p-top-info {
  margin-bottom: 8px;
  padding: 24px 16px;
}

.p-top-info .u-h-lv4 {
  margin-bottom: 16px;
}

@media (min-width: 769px) {
  .p-top-info {
    padding: 48px 16px 56px;
    background-color: #F0F0F0;
  }
}

.p-top .c-ez-search .c-form {
  border-radius: 4px;
  background-color: #ECF6ED;
}

.p-top-machinery {
  padding-top: 40px;
}

.p-top-machinery .u-h-lv2 {
  margin-bottom: 24px;
}

.p-top-machinery .u-h-lv2 .u-ico {
  margin: 0 auto;
}

.p-top-machinery .c-tab-list {
  width: calc(100% - 32px);
  margin: 0 auto 12px;
}

.p-top-machinery .l-grid {
  gap: 32px 8px;
}

@media (min-width: 769px) {
  .p-top-machinery {
    background-color: #F0F0F0;
  }
  .p-top-machinery .l-grid {
    gap: 32px 40px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 890px;
    margin: 0 auto;
  }
  .p-top-machinery .c-tab-list {
    margin-bottom: 22px;
  }
}

.p-top-history {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-top-history .u-h-lv2 {
  margin-bottom: 24px;
}

.p-top-history .l-grid {
  gap: 32px 8px;
}

.p-top-history .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-top-history .c-more-block__contents {
  opacity: 0;
}

.p-top-history .c-more-block__btn {
  background: transparent;
}

@media (min-width: 769px) {
  .p-top-history .l-grid {
    gap: 32px 40px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 890px;
    margin: 0 auto;
  }
}
