@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-newcustomer-complete {
    background-color: $c-bg-main;

    &-section {
        padding-top: $m-s;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
        .p-complete-block {
            padding: $m-ml $m-s;
            background-color: $c-bg-main-sub;
        }
    }
    & + .l-footer {
        @include for-desktop {
            background-color: $c-bg-main-sub;
        }
    }
}