.p-show_room-detail {
  background-color: #F0F0F0;
}

.p-show_room-detail .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-show_room-detail-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-show_room-detail-block {
  padding: 32px 16px;
  background-color: #F0F0F0;
}

.p-show_room-detail-block .u-h-lv3,
.p-show_room-detail-block .u-h-lv4 {
  margin-bottom: 16px;
}

.p-show_room-detail-block .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-show_room-detail-block .c-more-block__contents {
  opacity: 0;
}

.p-show_room-detail-block .c-more-block__btn {
  background: transparent;
}

.p-show_room-detail-block .l-grid {
  gap: 48px 8px;
}

@media (min-width: 769px) {
  .p-show_room-detail-block .l-grid {
    gap: 32px 40px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 890px;
    margin: 0 auto;
  }
}

.p-show_room-detail-block + .p-show_room-detail-block {
  position: relative;
}

.p-show_room-detail-block + .p-show_room-detail-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #DDDDDD;
  transform: translateX(-50%);
}

@media (min-width: 769px) {
  .p-show_room-detail-block + .p-show_room-detail-block::before {
    width: 980px;
  }
}

.p-show_room-detail-map {
  padding: 0 16px 40px;
  background-color: #FFFFFF;
}

.p-show_room-detail-map .u-h-lv4 {
  margin-bottom: 16px;
}

.p-show_room-detail-map iframe {
  width: 100%;
}

.p-show_room-detail-btn {
  padding: 40px 16px 80px;
  background-color: #F0F0F0;
}

.p-show_room-detail + .l-footer {
  background-color: #F0F0F0;
}

.p-show_room-detail-other {
  padding: 0 16px 40px;
}

.p-show_room-detail-other-wrap {
  background-color: #fff;
}

@media (min-width: 769px) {
  .p-show_room-detail-other {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 980px;
    margin: 0 auto;
  }
}

.p-show_room-detail-other__item {
  max-width: 980px;
  margin: 0 auto;
}

.p-show_room-detail-other__item + .p-show_room-detail-other__item {
  margin-top: 40px;
}

@media (min-width: 769px) {
  .p-show_room-detail-other__item + .p-show_room-detail-other__item {
    margin-top: 0;
  }
}

.p-show_room-detail-other__img {
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .p-show_room-detail .c-info__box {
    max-width: 980px;
    margin: 0 auto;
  }
  .p-show_room-detail .c-exhibition-hall-contact {
    max-width: 980px;
    margin: 0 auto;
  }
  .p-show_room-detail .p-show_room-detail-map iframe {
    display: block;
    max-width: 980px;
    margin: 0 auto;
  }
}
