@import '../../../../../foundation/variables';
.p-selling_info-confirm {
    background-color: $c-bg-main;

    &-section {
        padding-top: $m-s;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
    }
    &-btn {
        background-color: $c-bg-main-sub;
        padding: $m-ml $m-s $m-xl;
        &__inner {
            padding: $m-m $m-ss;
            background-color: $c-bg-main;
            border-radius: $b-r-s;
            .u-h-lv4 {
                margin-bottom: $m-sl;
            }
            .c-btn {
                & + .c-btn {
                    margin-top: $m-sl;
                }
            }
        }

    }
}