@import '../../../../../foundation/variables';
@import '../../../../../foundation/mixins';

.p-selling_info-confirm {
    background-color: $c-bg-main;

    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
        }
        .p-confirm-block {
            padding: $m-ml $m-s;
            background-color: $c-bg-main-sub;
            .c-form {
                background-color: $c-bg-main;
                border: 1px solid $c-border;
                border-radius: $b-r-s;
                @include for-desktop {
                    max-width: 890px;
                    margin: 0 auto;
                }
            }
        }
        .c-mypage-btn-block {
            padding-top: 0;
            &__inner {
                @include for-desktop {
                    max-width: 890px;
                    margin: 0 auto;
                }
            }
        }
    }
}