@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-complete {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        padding-bottom: $m-xl;
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
    }
    &-block {
        padding: $m-ml $m-m;
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}