@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-logout {
    background-color: $c-bg-main;

    &-section {
        padding-top: $m-s;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
    }
    &-contents {
        padding: $m-ml $m-s 120px;
        background-color: $c-bg-main-sub;
    }
    & + .l-footer {
        @include for-desktop {
            background-color: $c-bg-main-sub;
        }
    }
}