@import '../../../foundation/variables';
@import '../../../foundation/mixins';

.p-terms_of_service {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        padding-bottom: $m-xl;
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
    }
    &-block {
        background-color: $c-bg-main-sub;
        .c-contents {
            padding: $m-ml $m-s;
        }
    }
    .p-terms_of_service-list {
        padding: $m-ml $m-s;
        background-color: $c-bg-main;
        .c-contents {
            margin-bottom: 16px;
            padding-bottom: 20px;
            border-bottom: 1px solid $c-border;
            & > * {
                margin-bottom: $m-ss;
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }
        .c-ul-list,
        .c-ol-list,
        .c-dl-list {
            font-size: $fs-t-s;
        }
        .c-dl-list dd {
            font-size: $fs-t-ss;
        }
        .c-ol-list-block {
            text-indent: 0;
        }
        .c-ol-list-box {
            margin-top: $m-sss;
            margin-bottom: $m-ss;
            padding: $m-ss;
            border-radius: $b-r-s;
            background-color: $c-bg-main-sub;
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}