.p-login {
  background-color: #FFFFFF;
}

@media (min-width: 769px) {
  .p-login {
    background-color: #F0F0F0;
  }
}

.p-login .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-login-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
}

@media (min-width: 769px) {
  .p-login-section .u-h-lv2 {
    background-color: #FFFFFF;
  }
}

.p-login-section .c-form {
  background-color: #FFFFFF;
  border-radius: 4px;
}

.p-login-section .c-alert-txt,
.p-login-section .c-txt-hr {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p-login-contents {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-login-signup {
  padding: 40px 24px;
}

.p-login + .l-footer {
  background-color: #F0F0F0;
}
