.p-login {
  background-color: #FFFFFF;
}

.p-login-section {
  padding-top: 16px;
}

.p-login-section .u-h-lv2 {
  margin-bottom: 32px;
}

.p-login-section .c-form {
  background-color: #FFFFFF;
  border-radius: 4px;
}

.p-login-section .c-alert-txt,
.p-login-section .c-txt-hr {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p-login-contents {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-login-signup {
  padding: 40px 24px;
}
