.p-buying_info {
  background-color: #F0F0F0;
}

.p-buying_info .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-buying_info-section {
  padding-bottom: 80px;
}

.p-buying_info-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

@media (min-width: 769px) {
  .p-buying_info-section {
    background-color: #F0F0F0;
  }
}

.p-buying_info-recommendation {
  padding: 40px 16px;
  background-color: #FFFFFF;
}

.p-buying_info-recommendation .u-h-lv3 {
  margin-bottom: 24px;
}

.p-buying_info-recommendation .l-grid {
  gap: 32px 8px;
}

.p-buying_info-recommendation .c-detail-search .u-h-lv2 {
  background-color: #F0F0F0;
}

@media (min-width: 769px) {
  .p-buying_info-recommendation {
    margin-top: 56px;
    border-radius: 4px;
  }
}

.p-buying_info-favorite {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-buying_info-favorite .u-h-lv3 {
  margin-bottom: 24px;
}

.p-buying_info-favorite .l-grid {
  gap: 32px 8px;
}

.p-buying_info-favorite .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-buying_info-favorite .c-more-block__contents {
  opacity: 0;
}

.p-buying_info-favorite .c-more-block__btn {
  background: transparent;
}

.p-buying_info-info {
  position: relative;
  padding: 40px 16px 0;
  background-color: #F0F0F0;
}

.p-buying_info-info .u-h-lv4 {
  margin-bottom: 16px;
}

.p-buying_info-info__box {
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.p-buying_info-info__no-message {
  color: #8E8E8E;
}

.p-buying_info-info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #DDDDDD;
  transform: translateX(-50%);
}

.p-buying_info-history {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-buying_info-history .u-h-lv4 {
  margin-bottom: 16px;
}

.p-buying_info-history .l-grid {
  gap: 32px 8px;
}

.p-buying_info-history .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-buying_info-history .c-more-block__contents {
  opacity: 0;
}

.p-buying_info-history .c-more-block__btn {
  background: transparent;
}

@media (min-width: 769px) {
  .p-buying_info .c-mypage-btn-block {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-buying_info + .l-footer {
  background-color: #F0F0F0;
}

.p-buying_info .c-detail-search-btns {
  gap: 0;
}
