*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: revert;
  cursor: revert;
  min-width: 375px;
  font-size: 62.5%;
  font-family: Zen Kaku Gothic New;
  color: #4B4B4B;
  line-break: normal;
  overflow-wrap: anywhere;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

li {
  list-style-type: none;
}

th {
  font-weight: inherit;
}

address {
  font-style: inherit;
}

fieldset {
  border: 0;
  min-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  margin: 0;
}

cite,
dfn,
em,
i,
var {
  font-style: inherit;
}

small {
  font-size: inherit;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  border: 0;
  padding: 0;
}
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
}

button {
  touch-action: manipulation;
}
button:not(:disabled, [aria-disabled=true]) {
  cursor: pointer;
}

[hidden][hidden] {
  display: none !important;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  height: auto;
  overflow: visible;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  background-color: #FFFFFF;
}
.l-header h1 a {
  display: block;
  padding: 8px 16px;
}
.l-header h1 img {
  width: 108px;
}
.l-header nav ul {
  display: flex;
}
.l-header nav ul li a {
  display: block;
  width: 56px;
  height: 56px;
  padding-top: 5px;
  text-align: center;
}
.l-header nav ul li img {
  width: 32px;
  margin: 0 auto;
}
.l-header nav ul li span {
  display: block;
  font-size: 10px;
  font-weight: 700;
}

.l-footer {
  position: relative;
  margin-bottom: 56px;
  padding: 56px 16px 0;
  text-align: center;
  background: url(/aruda/assets/images/common/bg_footer.png) center top no-repeat #FFFFFF;
  background-size: 1920px auto;
}
.l-footer .logo {
  margin-bottom: 48px;
}
.l-footer .logo a {
  display: block;
  width: 141px;
  margin: 0 auto;
}
.l-footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 32px;
  justify-content: center;
  padding-bottom: 43px;
}
.l-footer ul a {
  color: #C7D5C9;
  font-size: 14px;
  text-decoration: underline;
}
.l-footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 0 -16px;
  background-image: url(/aruda/assets/images/common/bg_footer.png), url(/aruda/assets/images/common/bg_copyright.png);
  background-blend-mode: multiply;
  background-size: 1920px auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom;
}
.l-footer .copyright p {
  color: #fff;
  font-size: 12px;
}
.l-footer .pagetop {
  position: absolute;
  top: -62px;
  right: 8px;
}

.l-main {
  padding-top: 57px;
}

.l-grid {
  display: grid;
}
.l-grid[data-col="2"] {
  grid-template-columns: repeat(2, 1fr);
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #2C933A;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #2C933A;
  border-radius: 24px;
}
.c-btn .u-ico {
  margin-right: 4px;
}
.c-btn[data-type=solid] {
  color: #fff;
  background-color: #2C933A;
}

.c-fixed-menu {
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 11px 6px 6px;
  background-color: #FFFFFF;
}
.c-fixed-menu ul {
  display: flex;
}
.c-fixed-menu ul li {
  width: 20.1%;
}
.c-fixed-menu ul li:nth-child(3) {
  position: relative;
  width: 19.2%;
}
.c-fixed-menu ul li:nth-child(3) a {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  color: #fff;
  background-color: #2C933A;
  border-radius: 50%;
}
.c-fixed-menu ul li a {
  display: block;
  text-align: center;
}
.c-fixed-menu ul li a img {
  width: 32px;
  margin: 0 auto;
}
.c-fixed-menu ul li a span {
  display: block;
  font-size: 10px;
  font-weight: 700;
}

.c-menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
  background-color: #F0F0F0;
}
.c-menu-modal__contents {
  padding: 24px 32px 127px;
}
.c-menu-modal .l-grid {
  gap: 15px;
}
.c-menu-modal__top {
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}
.c-menu-modal__middle {
  padding-top: 24px;
}
.c-menu-modal__middle li {
  margin-bottom: 24px;
}
.c-menu-modal__middle a {
  display: block;
  padding-right: 32px;
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 700;
  background: url(/aruda/assets/images/common/ico_right_g.svg) right center no-repeat;
  background-size: 32px auto;
}
.c-menu-modal__bottom li {
  margin-bottom: 16px;
}
.c-menu-modal__bottom a {
  display: block;
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 700;
}
.c-menu-modal__link {
  display: flex;
  gap: 24px;
}
.c-menu-modal__link a {
  font-size: 13px;
  text-decoration: underline;
}
.c-menu-modal__close {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 27px 8px 32px;
  border-top: 1px solid #DDDDDD;
  background-color: #F0F0F0;
}
.c-menu-modal__close .logo {
  width: 86px;
}
.c-menu-modal__close .close .u-ico {
  margin: 0 auto;
}
.c-menu-modal__close .close span {
  display: block;
  color: #4B4B4B;
  font-size: 10px;
}

.u-fs-16 {
  font-size: 16px;
  line-height: 28.8px;
}

.u-fs-14 {
  font-size: 14px;
  line-height: 25.2px;
}

.u-fs-12 {
  font-size: 12px;
  line-height: 21.6px;
}

.u-ico {
  width: 32px;
}