@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-guide {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
    }
    &-block {
        padding-bottom: 80px;
        background-color: $c-bg-main-sub;
        .c-contents {
            padding: $m-ml $m-s $m-s;
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}