@import '../../../../foundation/variables';
.p-show_room-detail {
    background-color: $c-bg-main;

    &-section {
        padding-top: $m-s;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
    }
    &-block {
        padding: $m-m $m-s;
        background-color: $c-bg-main-sub;
        .u-h-lv3,
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &__contents {
                opacity: 0;
            }
            &__btn {
                background: transparent;
            }
        }
        .l-grid {
            gap: $m-l $m-ss ;
        }
        & + .p-show_room-detail-block {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: calc(100% - 32px);
                height: 1px;
                background-color: $c-border;
                transform: translateX(-50%);
            }
        }
    }
    &-info {
        position: relative;
        padding:  0 $m-s $m-ml;
        background-color: $c-bg-main-sub;
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        &__box {
            padding: $m-s;
            font-size: $fs-t-s;
            font-weight: 700;
            background-color: $c-bg-main;
            border: 1px solid $c-border;
            border-radius: $b-r-s;
        }
        &__no-message {
            color: $c-text-g;
        }
        &__item {
            display: grid;
            grid-template-columns: 80px 1fr;
            gap: $m-s;
            & + .p-show_room-detail-info__item {
                margin-top: $m-s;
                padding-top: $m-s;
                border-top: 1px solid $c-border;
            }
        }
        &__img {
            img {
                border-radius: $b-r-s;
                border: 1px solid $c-border;
            }
        }
        &__date {
            margin-bottom: $m-ss;
            color: $c-text-g;
            font-size: $fs-t-ss;
        }
        .c-tag-list {
            margin-bottom: $m-ss;
        }
        .c-tag {
            min-width: 76px;
            padding: 0 $m-ss;
            text-align: center;
            line-height: 19px;
        }
        &__shop {
            margin-bottom: $m-sss;
            color: $c-text-g;
            font-size: $fs-t-ss;
            font-weight: bold; 
        }
        &__ttl {
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: $fs-t-s;
            font-weight: bold; 
        }
    }
    &-name {
        padding: $m-l $m-s;
        background-color: $c-bg-main;
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
    }
    &-contact {
        border: 1px solid $c-border;
        border-radius: $b-r-s;
        &__ttl {
            padding: $m-s $m-s $m-ss;
            font-size: $fs-t;
            font-weight: 700;
            border-bottom: 1px solid $c-border;
        }
        &__info {
            padding: $m-s;
            font-size: $fs-t-s;
        }
        &__contact {
            p {
                margin-bottom: $m-ss;
                font-weight: 700;
            }
            .l-grid {
                gap: 9px;
            }
            padding: $m-s $m-s $m-sl;
            background-color: $c-bg-tertiary;
        }
    }
    &-map {
        padding: 0 $m-s $m-ml;
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        iframe {
            width: 100%;
        }
    }
    &-btn {
        padding: $m-ml $m-s 80px;
        background-color: $c-bg-main-sub;
    }
}