@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-show_room-detail {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }

    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
    }
    &-block {
        padding: $m-m $m-s;
        background-color: $c-bg-main-sub;
        .u-h-lv3,
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &__contents {
                opacity: 0;
            }
            &__btn {
                background: transparent;
            }
        }
        .l-grid {
            gap: $m-l $m-ss ;
        }
        @include for-desktop {
            .l-grid {
                gap: $m-m $m-ml;
                grid-template-columns: repeat(4,1fr);
                max-width: 890px;
                margin: 0 auto;
            }
        }
        & + .p-show_room-detail-block {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: calc(100% - 32px);
                height: 1px;
                background-color: $c-border;
                transform: translateX(-50%);
                @include for-desktop {
                    width: 980px;
                }
            }
        }
    }
    &-map {
        padding: 0 $m-s $m-ml;
        background-color: $c-bg-main;
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        iframe {
            width: 100%;
        }
    }
    &-btn {
        padding: $m-ml $m-s 80px;
        background-color: $c-bg-main-sub;
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
    @include for-desktop {
        .c-info {
            &__box {
                max-width: 980px;
                margin: 0 auto;
            }
        }
        .c-exhibition-hall-contact {
            max-width: 980px;
            margin: 0 auto;
        }
        .p-show_room-detail-map {
            iframe {
                display: block;
                max-width: 980px;
                margin: 0 auto;
            }
        }
    }
}