@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-selling_info {
    background-color: $c-bg-main;
    @include for-desktop {
        background-color: $c-bg-main-sub;
    }
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        padding-bottom: $m-xl;
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            @include for-desktop {
                background-color: $c-bg-main;
            }
        }
        @include for-desktop {
            background-color: $c-bg-main-sub;
        }
    }
    &-form {
        padding: $m-ml $m-s $m-s;
        .u-h-lv3 {
            margin-bottom: $m-sl;
        }
        .c-form {
            padding: $m-sl 0;
            background-color: $c-bg-main;
            .u-f-alert {
                margin-bottom: $m-m;
                padding-bottom: $m-m;
                border-bottom: 1px solid $c-border;
            }
        }
        @include for-desktop {
            margin-top: $m-ll;
            background-color: $c-bg-main;
            border-radius: $b-r-s;
        }
    }
    .c-mypage-btn-block {
        @include for-desktop {
            padding-left: 0;
            padding-right: 0;;
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}