<div class="c-fixed-menu">
    <ul>
        <li>
            <a href="#">
                <img src="/aruda/assets/images/common/ico_favorite.svg" alt="お気に入り">
                <span>お気に入り</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aruda/assets/images/common/ico_history.svg" alt="閲覧履歴">
                <span>閲覧履歴</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aruda/assets/images/common/ico_search.svg" alt="さがす">
                <span>さがす</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aruda/assets/images/common/ico_search-cond.svg" alt="検索条件">
                <span>検索条件</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aruda/assets/images/common/ico_menu_g.svg" alt="メニュー">
                <span>メニュー</span>
            </a>
        </li>
    </ul>
</div>