<footer class="l-footer">
    <a href="#" class="btn-search"><img src="/aruda/assets/images/common/btn_search.svg" alt="探す"></a>
    <a href="#" class="pagetop js-pagetop">
        <img src="/aruda/assets/images/common/img_pagetop.svg" alt="pagetop">
    </a>
    <div class="logo">
        <a href="/">
            <img src="/aruda/assets/images/common/logo_w.svg" alt="中古農機情報サイト アルーダ">
        </a>
    </div>
    <ul>
        <li><a href="">ご利用案内</a></li>
        <li><a href="">お問い合わせ</a></li>
        <li><a href="">よくあるご質問</a></li>
        <li><a href="">利用規約</a></li>
        <li><a href="">プライバシーポリシー</a></li>
    </ul>
    <div class="copyright">
        <p>Copyright&copy;ARUDA,All Rights Reserved.</p>
    </div>
</footer>
<div class="c-cookie-modal js-cookie-modal">
    <p class="u-fs-14 u-f-bold u-t-center">当サイトはサイトの利便性向上のためにCookieを使用しています。<br>許諾する場合は「同意する」をボタンを押してください。</p>
    <button class="c-btn u-m-center js-c-cookie-modal-btn" data-type="solid" data-size="s">同意する</button>
</div>