<header class="l-header">
    <h1><a href="/"><img src="/aruda/assets/images/common/logo.svg" alt="中古農機情報サイト アルーダ"></a></h1>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <img src="/aruda/assets/images/common/dummy.svg" alt="会員証">
                    <span>会員証</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/aruda/assets/images/common/dummy.svg" alt="マイページ">
                    <span>マイページ</span>
                </a>
            </li>
        </ul>
    </nav>
</header>