<header class="l-header">
    <h1><a href="/aruda/"><img src="/aruda/assets/images/common/logo.svg" alt="中古農機情報サイト アルーダ"></a></h1>
    <nav>
        <ul>
            <li>
                <a href="#" class="js-membership-trigger">
                    <img src="/aruda/assets/images/common/ico_member.svg" alt="会員証">
                    <span>会員証</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/aruda/assets/images/common/ico_mypage.svg" alt="マイページ">
                    <span>マイページ</span>
                </a>
            </li>
        </ul>
    </nav>
</header>