<header class="l-header">
    <h1><a href="/"><img src="/assets/images/common/logo.svg" alt="中古農機情報サイト アルーダ"></a></h1>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <img src="/assets/images/common/ico_logout.svg" alt="ログアウト">
                    <span>ログアウト</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/common/ico_signup.svg" alt="マイページ">
                    <span>マイページ</span>
                </a>
            </li>
        </ul>
    </nav>
</header>