<header class="l-header">
<h1><a href="/"><img src="/aruda/assets/images/common/logo.svg" alt="中古農機情報サイト アルーダ"></a></h1>
<nav>
    <ul>
        <li>
            <a href="#">
                <img src="/aruda/assets/images/common/ico_login.svg" alt="ログイン">
                <span>ログイン</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/aruda/assets/images/common/ico_signup.svg" alt="新規登録">
                <span>新規登録</span>
            </a>
        </li>
    </ul>
</nav>
</header>