<!-- TODO:ログイン後メニュー -->
<div class="c-menu-modal">
    <div class="c-menu-modal__contents">
        <div class="c-menu-modal__top">
            <ul class="l-grid" data-col="2">
                <li>
                    <a href="" class="c-btn">
                        <img src="/aruda/assets/images/common/ico_logout.svg" alt="" class="u-ico">ログアウト
                    </a>
                </li>
                <li>
                    <a href="" class="c-btn" data-type="solid">
                        <img src="/aruda/assets/images/common/ico_signup.svg" alt="" class="u-ico">マイページ
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-menu-modal__middle">
            <ul>
                <li>
                    <a href="">トップページ</a>
                </li>
                <li>
                    <a href="">マイページ</a>
                </li>
                <li>
                    <a href="">会員証</a>
                </li>
                <li>
                    <a href="">さがす</a>
                </li>
                <li>
                    <a href="">お気に入り</a>
                </li>
                <li>
                    <a href="">閲覧履歴</a>
                </li>
                <li>
                    <a href="">検索条件</a>
                </li>
                <li>
                    <a href="">常設展示場</a>
                </li>
                <li>
                    <a href="">メール通知設定</a>
                </li>
                <li>
                    <a href="">会員情報の編集</a>
                </li>
            </ul>
        </div>
        <div class="c-menu-modal__bottom">
            <ul>
                <li>
                    <a href="">アルーダからのお知らせ</a>
                </li>
                <li>
                    <a href="">展示場からのお知らせ</a>
                </li>
                <li>
                    <a href="">JAグループ取扱商品のご紹介</a>
                </li>
            </ul>
        </div>
        <ul class="c-menu-modal__link">
            <li>
                <a href="">ご利用案内</a>
            </li>
            <li>
                <a href="">お問い合わせ</a>
            </li>
            <li>
                <a href="">よくあるご質問</a>
            </li>
        </ul>
    </div>

    <div class="c-menu-modal__close">
        <div class="logo">
            <a href="/">
                <img src="/aruda/assets/images/common/logo.svg" alt="中古農機情報サイト アルーダ">
            </a>
        </div>
        <div class="close">
            <a href="#" class="js-close">
                <img src="/aruda/assets/images/common/ico_close_g.svg" alt="X" class="u-ico">
                <span>閉じる</span>
            </a>
        </div>
    </div>
</div>
<!-- TODO:ログイン後メニュー -->