<div class="c-mypage-block">
  <div class="c-mypage-block__head">
    <p class="c-mypage-block__name">ようこそ 或田<span>さん</span></p>
  </div>
  <div class="c-mypage-block__body">
    <div class="l-grid" data-col="2">
      <a href="/aruda/mypage/buying_info/">
        <img src="/aruda/assets/images/common/ico_buy.svg" alt="" class="u-ico" data-size="l">
        <p>買いたい<span>情報登録</span></p>
      </a>
      <a href="/aruda/mypage/selling_info/">
        <img src="/aruda/assets/images/common/ico_sell.svg" alt="" class="u-ico" data-size="l">
        <p>売りたい<span>情報登録</span></p>
      </a>
    </div>
    <p class="c-mypage-block__edit">
      <a href="/aruda/mypage/customer/">マイページ情報の編集<span><img src="/aruda/assets/images/common/ico_down_g.svg" alt=""></span></a>
    </p>
    <ul class="c-tab-list" data-col="3" data-current="0">
      <li><a href="/aruda/mypage/favorite_machine_list/" class="is-current">お気に入り</a></li>
      <li><a href="/aruda/mypage/search_condition/">検索条件</a></li>
      <li><a href="/aruda/mypage/notification_list/">お知らせ</a></li>
    </ul>
  </div>
</div>