.p-show_room-list {
  background-color: #FFFFFF;
}

.p-show_room-list-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
}

.p-show_room-list-section .c-form {
  padding-top: 0;
  background-color: #F0F0F0;
}

.p-show_room-list-section .c-form .l-grid {
  gap: 8px;
}

.p-show_room-list-section .c-form .l-grid label {
  margin-top: 0;
}

.p-show_room-list-section .c-form label {
  margin-top: 8px;
}

.p-show_room-list-section .c-info {
  padding-bottom: 0;
  background-color: #FFFFFF;
}

.p-show_room-list-section .c-info .c-info__item:first-child {
  padding-top: 16px;
}

.p-show_room-list-section .c-info .c-info__item:last-child {
  padding-bottom: 16px;
}

.p-show_room-list-section .c-contents {
  padding: 0 16px;
}

.p-show_room-list-block {
  padding-bottom: 80px;
  background-color: #F0F0F0;
}

.p-show_room-list-block .p-tab-wrap {
  padding: 32px 16px 16px;
}

.p-show_room-list + .l-footer {
  background-color: #F0F0F0;
}
