@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-machine-search {
    position: relative;
    background-color: $c-bg-main;
    &-info {
        & > .u-h-lv2 {
            margin-bottom: $m-m;
        }
        // margin-bottom: $m-ss;
        padding: $m-sl 0 0;
    }
    .c-ez-search {
        background-color: $c-bg-main-sub;
    }
    &-btns {
        padding: 20px 0 $m-ml;
        background-color: $c-bg-main-sub;
        @include for-desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            gap:40px;
            & > div {
                width: 279px;
                margin: 0 !important;
            }
        }
    }
}