.p-mail_notification_settings {
  background-color: #F0F0F0;
}

.p-mail_notification_settings .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-mail_notification_settings-section {
  padding-bottom: 80px;
}

.p-mail_notification_settings-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-mail_notification_settings-contents {
  padding: 40px 16px;
  background-color: #FFFFFF;
}

.p-mail_notification_settings-contents .u-h-lv3 {
  margin-bottom: 24px;
}

.p-mail_notification_settings-contents .l-grid {
  gap: 32px 8px;
}

.p-mail_notification_settings-contents .c-mail-setting + .c-mail-setting {
  margin-top: 24px;
}

.p-mail_notification_settings-contents .u-tag-block {
  margin-bottom: 25px;
}

.p-mail_notification_settings-contents .u-tag-block ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (min-width: 769px) {
  .p-mail_notification_settings-contents .u-tag-block ul {
    display: flex;
  }
}

.p-mail_notification_settings-contents .u-tag-block li {
  padding: 9px;
  font-size: 12px;
  background-color: #F9F7EE;
}

@media (min-width: 769px) {
  .p-mail_notification_settings-contents {
    margin-top: 56px;
    border-radius: 4px;
  }
}

@media (min-width: 769px) {
  .p-mail_notification_settings .c-mypage-btn-block {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-mail_notification_settings + .l-footer {
  background-color: #F0F0F0;
}
