.p-newcustomer-complete {
  background-color: #FFFFFF;
}

.p-newcustomer-complete-section {
  padding-top: 16px;
}

.p-newcustomer-complete-section .u-h-lv2 {
  margin-bottom: 32px;
}

.p-newcustomer-complete-section .p-complete-block {
  padding: 40px 16px;
  background-color: #F0F0F0;
}
