@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-notification_list {
    background-color: $c-bg-main;
    @include for-desktop {
        background-color: $c-bg-main-sub;
    }
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }
    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            @include for-desktop {
                background-color: $c-bg-main;
            }
        }
        @include for-desktop {
            background-color: $c-bg-main-sub;
        }
        .c-mypage-block {
            padding-bottom: $m-s;
        }
    }
    &-info {
        padding: $m-ml $m-s;
        .u-h-lv3 {
            margin-bottom: $m-sl;
        }
        &__box {
            padding: $m-s;
            font-size: $fs-t-s;
            font-weight: 700;
            background-color: $c-bg-main;
            border: 1px solid $c-border;
            border-radius: $b-r-s;
        }
        &__no-message {
            color: $c-text-g;
        }
        @include for-desktop {
            margin-top: $m-ll;
            background-color: $c-bg-main;
            border-radius: $b-r-s;
        }
    }
    .c-mypage-btn-block {
        @include for-desktop {
            padding-left: 0;
            padding-right: 0;;
        }
    }
    & + .l-footer {
        @include for-desktop {
            background-color: $c-bg-main-sub;
        }
    }
}