.l-footer {
    position: relative;
    margin-bottom: 56px;
    padding: 56px 0 0;
    text-align: center;
    background: url(/aruda/assets/images/common/bg_footer.png) center top no-repeat $c-bg-main;
    background-size: 1920px auto;
    @include for-desktop {
        padding-top: 108px;
        margin-bottom: 0;
    }
    .logo {
        margin-bottom: 48px;
        a {
            display: block;
            width: 141px;
            margin: 0 auto;
            @include for-desktop {
                width: 203px;
            }
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 32px;
        justify-content: center;
        padding-bottom: 43px;
        a {
            color: $c-text-sub;
            font-size: $fs-t-s;
            text-decoration: underline;
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        margin: 0 -16px;
        background-image: url(/aruda/assets/images/common/bg_footer.png), url(/aruda/assets/images/common/bg_copyright.png);
        background-blend-mode: multiply;
        background-size: 1920px auto, cover;
        background-repeat: no-repeat, no-repeat;
        background-position: center bottom;
        p {
            color: $c-text-w;
            font-size: $fs-t-ss;
        }
        @include for-desktop {
            max-width: 1920px;
            margin: 0 auto;
        }
    }
    .pagetop {
        position: absolute;
        top: -58px;
        right: 8px;

        @include for-desktop {
            width: 67px;
            right: auto;
            left: calc(50% + 380px);
        }
    }
}
