.p-newcustomer {
  background-color: #F0F0F0;
}

.p-newcustomer .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-newcustomer-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-newcustomer-form {
  padding: 40px 16px 80px;
  background-color: #F0F0F0;
  border-radius: 4px;
}

.p-newcustomer-form .u-h-lv3 {
  margin-bottom: 24px;
}

.p-newcustomer-form .c-form {
  margin: 40px -16px 0;
  padding: 24px 16px;
  background-color: #FFFFFF;
}

.p-newcustomer-form .c-form__list[data-col="2"] {
  gap: 8px;
}

.p-newcustomer-form .c-form__list[data-type="kubun"] li {
  padding: 8px;
}

.p-newcustomer-form .c-form__list[data-type="kubun"] li.is-active {
  background-color: #ECF6ED;
}

.p-newcustomer-form .c-form .u-f-notes {
  margin-top: 4px;
  color: #8E8E8E;
}

.p-newcustomer-form .c-form .u-f-alert {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #DDDDDD;
}

.p-newcustomer-btn {
  padding-top: 40px;
  background-color: #F0F0F0;
}

.p-newcustomer + .l-footer {
  background-color: #F0F0F0;
}
