.p-mypage {
  background-color: #FFFFFF;
}

@media (min-width: 769px) {
  .p-mypage {
    background-color: #F0F0F0;
  }
}

.p-mypage .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-mypage-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
}

@media (min-width: 769px) {
  .p-mypage-section .u-h-lv2 {
    background-color: #FFFFFF;
  }
}

@media (min-width: 769px) {
  .p-mypage-section {
    background-color: #F0F0F0;
  }
}

.p-mypage-recommendation {
  padding: 40px 16px;
}

.p-mypage-recommendation .u-h-lv3 {
  margin-bottom: 24px;
}

.p-mypage-recommendation .l-grid {
  gap: 32px 8px;
}

@media (min-width: 769px) {
  .p-mypage-recommendation {
    margin-top: 56px;
    padding: 56px 40px;
    background-color: #FFFFFF;
  }
  .p-mypage-recommendation .l-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 30px;
  }
}

.p-mypage-favorite {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

.p-mypage-favorite .u-h-lv3 {
  margin-bottom: 24px;
}

.p-mypage-favorite .l-grid {
  gap: 32px 8px;
}

.p-mypage-favorite .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-mypage-favorite .c-more-block__contents {
  opacity: 0;
}

.p-mypage-favorite .c-more-block__btn {
  background: transparent;
}

@media (min-width: 769px) {
  .p-mypage-favorite {
    padding: 56px 40px;
  }
  .p-mypage-favorite .u-h-lv3 {
    margin-bottom: 32px;
  }
  .p-mypage-favorite .l-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 30px;
  }
}

.p-mypage-info {
  position: relative;
  padding: 40px 16px 0;
  background-color: #F0F0F0;
}

.p-mypage-info .u-h-lv4 {
  margin-bottom: 16px;
}

.p-mypage-info__box {
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.p-mypage-info__no-message {
  color: #8E8E8E;
}

.p-mypage-info:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #DDDDDD;
  transform: translateX(-50%);
}

@media (min-width: 769px) {
  .p-mypage-info {
    padding: 56px 40px;
  }
}

.p-mypage-history {
  padding: 40px 16px 80px;
  background-color: #F0F0F0;
}

.p-mypage-history .u-h-lv4 {
  margin-bottom: 16px;
}

.p-mypage-history .l-grid {
  gap: 32px 8px;
}

.p-mypage-history .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-mypage-history .c-more-block__contents {
  opacity: 0;
}

.p-mypage-history .c-more-block__btn {
  background: transparent;
}

@media (min-width: 769px) {
  .p-mypage-history {
    padding: 56px 40px 80px;
  }
  .p-mypage-history .l-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 30px;
  }
}

.p-mypage .c-mypage-btn-block {
  padding-top: 0;
}

@media (min-width: 769px) {
  .p-mypage .c-mypage-btn-block {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-mypage + .l-footer {
  background-color: #F0F0F0;
}
