.p-customer {
  background-color: #F0F0F0;
}

.p-customer .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-customer-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-customer-section .p-complete-block {
  padding: 40px 16px;
  background-color: #F0F0F0;
}

@media (min-width: 769px) {
  .p-customer-section .p-complete-block p {
    max-width: 890px;
    margin: 0 auto;
  }
}

.p-customer-section .c-mypage-btn-block {
  padding-top: 0;
}

@media (min-width: 769px) {
  .p-customer-section .c-mypage-btn-block__inner {
    max-width: 890px;
    margin: 0 auto;
  }
}

.p-customer + .l-footer {
  background-color: #F0F0F0;
}
