@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-machine-detail {
    position: relative;
    background-color: $c-bg-main;
    &-section {
        padding-top: $m-sl;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &.is-open {
                overflow: visible;
            }
            &__contents {
                opacity: 0;
            }
            &__btn {
                span {
                    margin: 0 $m-ss 0 0;
                }
                background: transparent;
            }
        }
    }
    &-contents {
        padding: 20px $m-s $m-ml;
        background-color: $c-bg-main-sub;
    }
    &-kv {
        .l-grid {
            margin-bottom: $m-s;
            gap: $m-ss;
        }
    }
    &__state {
        margin-bottom: $m-s;
        font-size: $fs-t;
        font-weight: 700;
    }
    &__manufacturer {
        font-size: $fs-t;
        font-weight: 700;
    }
    &__name {
        margin-bottom: 12px;
        font-size: $fs-h-lv4;
        font-weight: 700;
    }
    &__inquiry-no {
        height: 40px;
        text-align: center;
        color: $c-text-w;
        font-size: $fs-t-s;
        line-height: 40px;
        background-color: $c-bg-primary;
        border-radius: $b-r-s;
        span {
            font-size: $fs-h-lv4;
            font-weight: 700; 
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 12px;
        span {
            &:nth-child(1) {
                font-size: 18px;
            }
            &:nth-child(2) {
                font-size: 38px;
                font-weight: 700;
                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
    .c-info {
        background-color: $c-bg-main;
    }
    &-btns {
        display: flex;
        gap: 40px;
        justify-content: center;
        & > div {
            margin: 40px 0 0;
            .c-btn{
                width: 279px;
            }
        }
    }
    &-btn {
        padding: $m-l $m-s;
        background-color: $c-bg-main-sub;
    }
}