@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-machine-detail {
    @include for-desktop {
        .c-contents {
            position: relative;
            .p-machine-detail-grid {
                display: grid;
                gap: 5%;
                grid-template-columns: 65% 30%;
            }
            .p-machine-detail-block {
                position: sticky;
                top: 65px;
                left: 0;
                max-width: 640px;
                padding-bottom: 100px;
            }

        }
    }
    position: relative;
    background-color: $c-bg-main;
    &-section {
        padding-top: $m-sl;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &.is-open {
                overflow: visible;
            }
            &__contents {
                opacity: 0;
            }
            &__btn {
                span {
                    margin: 0 $m-ss 0 0;
                }
                background: transparent;
            }
        }
    }
    &-contents {
        padding: 20px $m-s $m-ml;
        background-color: $c-bg-main-sub;

        .c-alert-block {
            margin-bottom: $m-s;
            padding: $m-sss;
            text-align: center;
            &__ttl {
                margin-bottom: 0;
                font-size: $fs-t-s;
                font-weight: normal;
            }
        }
        .c-tag-list {
            margin-bottom: $m-s;
        }
        .is-pc {
            display: none;
        }
        @include for-desktop {
            .is-pc {
                display: block;
            }
            .is-sp {
                display: none;
            }
        }
    }
    &-kv {
        .l-grid {
            margin-bottom: $m-s;
            gap: $m-ss;
        }
    }
    &__state {
        margin-bottom: $m-s;
        font-size: $fs-t;
        font-weight: 700;
    }
    &__manufacturer {
        font-size: $fs-t;
        font-weight: 700;
    }
    &__name {
        margin-bottom: 12px;
        font-size: $fs-h-lv4;
        font-weight: 700;
    }
    &__inquiry-no {
        height: 40px;
        text-align: center;
        color: $c-text-w;
        font-size: $fs-t-s;
        line-height: 40px;
        background-color: $c-bg-primary;
        border-radius: $b-r-s;
        span {
            font-size: $fs-h-lv4;
            font-weight: 700; 
        }
    }
    &__price {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        margin-bottom: $m-s;
        line-height: 1;
        span {
            &:nth-child(1) {
                font-size: 38px;
                font-weight: 700;
                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        &-ttl {
            margin-top: $m-ss;
            font-size: 18px;
        }
    }
    .c-info {
        background-color: $c-bg-main;
    }
    &-btns {
        @include for-desktop {
            display: flex;
            gap: 40px;
            justify-content: center;
            & > div {
                margin: 40px 0 0;
                .c-btn,.c-btn--reset {
                    width: 279px;
                }
            }
        }
    }

    .c-exhibition-hall-contact {
        .l-grid {
            display: block;
            align-items: center;
            .c-btn {
                margin: 0 auto;
            }
            @include for-desktop {
                display: flex;
                .c-btn {
                    height: 40px;
                }
            }
        }
    }
    .u-tel {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color: $c-text;
        font-size: 24px;
        @include for-desktop {
            margin-bottom: 0;
            margin-right: 10px;
        }
        .u-ico {
            margin-top: 7px;
            margin-right: 5px;
        }
    }
    &-btn {
        padding: $m-l $m-s;
        background-color: $c-bg-main-sub;
    }
}