.p-machine-comfirm {
  position: relative;
  background-color: #F0F0F0;
}

.p-machine-comfirm .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-machine-comfirm-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-machine-comfirm-contents {
  padding: 20px 16px 80px;
  background-color: #F0F0F0;
}

.p-machine-comfirm + .l-footer {
  background-color: #F0F0F0;
}
