@import '../../../../foundation/variables';
.p-notification-aruda {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }

    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
    }
    &-block {
        padding: $m-m $m-s;
        background-color: $c-bg-main-sub;
        .c-tab-list{
            margin-bottom: 18px;
        }
        .c-form__select {
            margin-bottom: $m-sl;
        }
        .c-info {
            padding-left: 0;
            padding-right: 0;
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}