.p-machine-detail {
  position: relative;
  background-color: #FFFFFF;
}

@media (min-width: 769px) {
  .p-machine-detail .c-contents {
    position: relative;
  }
  .p-machine-detail .c-contents .p-machine-detail-grid {
    display: grid;
    gap: 5%;
    grid-template-columns: 65% 30%;
  }
  .p-machine-detail .c-contents .p-machine-detail-block {
    position: sticky;
    top: 65px;
    left: 0;
    max-width: 640px;
    padding-bottom: 100px;
  }
}

.p-machine-detail-section {
  padding-top: 24px;
}

.p-machine-detail-section .u-h-lv2 {
  margin-bottom: 32px;
}

.p-machine-detail-section .c-more-block {
  height: 41px;
  margin-top: 32px;
  padding: 0;
}

.p-machine-detail-section .c-more-block.is-open {
  overflow: visible;
}

.p-machine-detail-section .c-more-block__contents {
  opacity: 0;
}

.p-machine-detail-section .c-more-block__btn {
  background: transparent;
}

.p-machine-detail-section .c-more-block__btn span {
  margin: 0 8px 0 0;
}

.p-machine-detail-contents {
  padding: 20px 16px 40px;
  background-color: #F0F0F0;
}

.p-machine-detail-contents .c-alert-block {
  margin-bottom: 16px;
  padding: 4px;
  text-align: center;
}

.p-machine-detail-contents .c-alert-block__ttl {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
}

.p-machine-detail-contents .c-tag-list {
  margin-bottom: 16px;
}

.p-machine-detail-contents .is-pc {
  display: none;
}

@media (min-width: 769px) {
  .p-machine-detail-contents .is-pc {
    display: block;
  }
  .p-machine-detail-contents .is-sp {
    display: none;
  }
}

.p-machine-detail-kv .l-grid {
  margin-bottom: 16px;
  gap: 8px;
}

.p-machine-detail__state {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
}

.p-machine-detail__manufacturer {
  font-size: 16px;
  font-weight: 700;
}

.p-machine-detail__name {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.p-machine-detail__inquiry-no {
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  background-color: #2C933A;
  border-radius: 4px;
}

.p-machine-detail__inquiry-no span {
  font-size: 20px;
  font-weight: 700;
}

.p-machine-detail__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
  line-height: 1;
}

.p-machine-detail__price span:nth-child(1) {
  font-size: 38px;
  font-weight: 700;
}

.p-machine-detail__price span:nth-child(1) span {
  font-size: 18px;
  font-weight: 500;
}

.p-machine-detail__price-ttl {
  margin-top: 8px;
  font-size: 18px;
}

.p-machine-detail .c-info {
  background-color: #FFFFFF;
}

@media (min-width: 769px) {
  .p-machine-detail-btns {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .p-machine-detail-btns > div {
    margin: 40px 0 0;
  }
  .p-machine-detail-btns > div .c-btn, .p-machine-detail-btns > div .c-btn--reset {
    width: 279px;
  }
}

.p-machine-detail-btn {
  padding: 48px 16px;
  background-color: #F0F0F0;
}
