.p-top {
    &-info {
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        margin-bottom: $m-ss;
        padding: $m-sl $m-s;
    }
    &-search {
        padding: $m-ml $m-s;
        background-color: $c-bg-main;
        .u-h-lv2 {
            margin-bottom: $m-sl;
            .u-ico {
                margin: 0 auto;
            }
        }
    }
    &-machinery {
        padding-top: $m-ml;
        .u-h-lv2 {
            margin-bottom: $m-sl;
            .u-ico {
                margin: 0 auto;
            }
        }
        .c-tab-list {
            width: calc(100% - 32px);
            margin: 0 auto 12px;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
    }
}