.p-top {
    &-info {
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        margin-bottom: $m-ss;
        padding: $m-sl $m-s;
    }
    &-search {
        padding: $m-ml $m-s;
        background-color: $c-bg-main;
        .u-h-lv2 {
            margin-bottom: $m-sl;
            .u-ico {
                margin: 0 auto;
            }
        }
    }
    &-machinery {
        padding-top: $m-ml;
        .u-h-lv2 {
            margin-bottom: $m-sl;
            .u-ico {
                margin: 0 auto;
            }
        }
        .c-tab-list {
            width: calc(100% - 32px);
            margin: 0 auto 12px;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
    }
    &-history {
        padding: $m-ml $m-s;
        background-color: $c-bg-main-sub;
        .u-h-lv2 {
            margin-bottom: $m-sl;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &__contents {
                opacity: 0;
            }
            &__btn {
                background: transparent;
            }
        }
    }
    &-bnr {
        padding: $m-ll 60px 80px;
        background-color: $c-bg-main;
    }
}