@import '../../../../../foundation/variables';
.p-customer {
    background-color: $c-bg-main;

    &-section {
        padding-top: $m-s;
        .u-h-lv2 {
            margin-bottom: $m-m;
        }
        .p-complete-block {
            padding: $m-ml $m-s;
            background-color: $c-bg-main-sub;
        }
        .c-mypage-btn-block {
            padding-top: 0;
        }
    }
}