.p-machine-search {
  position: relative;
  background-color: #FFFFFF;
}

.p-machine-search-info {
  padding: 24px 0 0;
}

.p-machine-search-info > .u-h-lv2 {
  margin-bottom: 32px;
}

.p-machine-search .c-ez-search {
  background-color: #F0F0F0;
}

.p-machine-search-btns {
  padding: 20px 0 40px;
  background-color: #F0F0F0;
}

@media (min-width: 769px) {
  .p-machine-search-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .p-machine-search-btns > div {
    width: 279px;
    margin: 0 !important;
  }
}
