.p-complete {
  background-color: #F0F0F0;
}

.p-complete .c-breadcrumbs {
  background-color: #FFFFFF;
}

.p-complete-section {
  padding-bottom: 80px;
}

.p-complete-section .u-h-lv2 {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #FFFFFF;
}

.p-complete-block {
  padding: 40px 32px;
}

.p-complete + .l-footer {
  background-color: #F0F0F0;
}
