.p-logout {
  background-color: #FFFFFF;
}

.p-logout-section {
  padding-top: 16px;
}

.p-logout-section .u-h-lv2 {
  margin-bottom: 32px;
}

.p-logout-contents {
  padding: 40px 16px 120px;
  background-color: #F0F0F0;
}

@media (min-width: 769px) {
  .p-logout + .l-footer {
    background-color: #F0F0F0;
  }
}
