@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-buying_info {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }

    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
        @include for-desktop {
            background-color: $c-bg-main-sub;
        }
    }
    &-recommendation {
        padding: $m-ml $m-s;
        background-color: $c-bg-main;

        .u-h-lv3 {
            margin-bottom: $m-sl;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        .c-detail-search {
            .u-h-lv2 {
                background-color: $c-bg-main-sub;
            }
        }
        @include for-desktop {
            margin-top: $m-ll;
            border-radius: $b-r-s;
        }
    }
    &-favorite {
        padding: $m-ml $m-s;
        background-color: $c-bg-main-sub;
        .u-h-lv3 {
            margin-bottom: $m-sl;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &__contents {
                opacity: 0;
            }
            &__btn {
                background: transparent;
            }
        }
    }
    &-info {
        position: relative;
        padding: $m-ml $m-s 0;
        background-color: $c-bg-main-sub;
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        &__box {
            padding: $m-s;
            font-size: $fs-t-s;
            font-weight: 700;
            background-color: $c-bg-main;
            border: 1px solid $c-border;
            border-radius: $b-r-s;
        }
        &__no-message {
            color: $c-text-g;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 32px);
            height: 1px;
            background-color: $c-border;
            transform: translateX(-50%);
        }
    }
    &-history {
        padding: $m-ml $m-s;
        background-color: $c-bg-main-sub;
        .u-h-lv4 {
            margin-bottom: $m-s;
        }
        .l-grid {
            gap: $m-m $m-ss;
        }
        .c-more-block {
            height: 41px;
            margin-top: $m-m;
            padding: 0;
            &__contents {
                opacity: 0;
            }
            &__btn {
                background: transparent;
            }
        }
    }
    .c-mypage-btn-block {
        @include for-desktop {
            padding-left: 0;
            padding-right: 0;
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}