@import '../../../../foundation/variables';
@import '../../../../foundation/mixins';

.p-newcustomer-confirm {
    background-color: $c-bg-main-sub;
    .c-breadcrumbs {
        background-color: $c-bg-main;
    }

    &-section {
        .u-h-lv2 {
            padding-top: $m-s;
            padding-bottom: $m-m;
            background-color: $c-bg-main;
        }
        .p-confirm-block {
            padding: $m-ml $m-s 80px;
            background-color: $c-bg-main-sub;
            .c-form {
                background-color: $c-bg-main;
                border: 1px solid $c-border;
                border-radius: $b-r-s;
            }
        }
    }
    & + .l-footer {
        background-color: $c-bg-main-sub;
    }
}